<ol class="list-group admin-list">
{{#pagination.getSliced}}
    <li
            id="{{getId}}"
            class="list-group-item-{{#isPublished}}success{{/isPublished}}{{^isPublished}}danger{{/isPublished}} list-group-item"
            data-id="{{getId}}"
    >
        {{getNameField}}
        <div class="float-right">
            {{#canPublish}}
                <a
                    href="{{actionBaseUri}}/togglePublish/{{getId}}"
                    class="publish-toggle fa fa-circle {{^isPublished}}red{{/isPublished}}"
                    title="{{#isPublished}}%ADMIN_SET_TO_UNPUBLISH%{{/isPublished}}{{^isPublished}}%ADMIN_SET_TO_PUBLISH%{{/isPublished}}"
                    id="publish_{{getId}}"
                ></a>
            {{/canPublish}}
            {{#canPreview}}
                {{#hasSlug}}
                    <a href="{{baseUri}}{{getNameField}}" target="_blank" title="Preview" class="fa fa-eye"></a>
                {{/hasSlug}}
            {{/canPreview}}
            {{#canReadonly}}
                <a href="{{actionBaseUri}}/readonly/{{getId}}" title="%ADMIN_READONLY_ITEM%" class="fa fa-sticky-note-o openmodal"></a>
            {{/canReadonly}}
            {{#canEdit}}
                <a href="{{actionBaseUri}}/edit/{{getId}}" title="%ADMIN_EDIT_ITEM%" class="fa fa-edit openmodal"></a>
            {{/canEdit}}
            {{#canCopy}}
                <a href="{{actionBaseUri}}/copy/{{getId}}" title="%ADMIN_COPY_ITEM%" class="fa fa-copy"></a>
            {{/canCopy}}
            {{#canDelete}}
                <a id="delete_{{getId}}" href="{{actionBaseUri}}/delete/{{getId}}" title="%ADMIN_DELETE_ITEM%" class="fa fa-trash"></a>
            {{/canDelete}}
        </div>
    </li>
{{/pagination.getSliced}}
</ol>
<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item"><div class="page-link">{{pagination.count}} %ADMIN_ITEMS%</div></li>
        {{#pagination.hasPreviousPage}}
            <li class="page-item">
                <a class="page-link fa fa-fast-backward" href="{{pagination.getFirstPageUrl}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link fa fa-step-backward" rel="prev" href="{{pagination.getPreviousPageUrl}}"></a>
            </li>
        {{/pagination.hasPreviousPage}}
        <li class="page-item">
            <div class="page-link">
            {{pagination.getFirstNumberInList}} - {{pagination.getLastNumberInList}}
            </div>
        </li>
        {{#pagination.hasNextPage}}
            <li class="page-item">
                <a class="page-link fa fa-step-forward" rel="next" href="{{pagination.getNextPageUrl}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link fa fa-fast-forward" href="{{pagination.getLastPageUrl}}"></a>
            </li>
        {{/pagination.hasNextPage}}
    </ul>
</nav>