<div class="container container-admin-list">
    <div class="row">
        <div class="col-12 col-lg-9">
            <h1>Adminlist</h1>
        </div>
        <div class="col-12 col-lg-3">
            <div class="btn-group float-right">
                {{#buttons}}
                    <a
                            class="{{cssClass}}"
                            href="{{href}}"
                            title="{{title}}"
                    ></a>
                {{/buttons}}
                {{#canAdd}}
                    <a
                            class="btn btn-info fa fa-plus openmodal"
                            href="{{actionBaseUri}}/add/"
                            title="%ADMIN_NEW_ITEM%"
                    ></a>
                {{/canAdd}}
            </div>
        </div>
        <div id="ajax-target" class="col-12 col-lg-9">
            {{{list}}}
            </ol>
        </div>
        <div class="col-12 col-lg-3">
            {{{filterForm}}}
        </div>
    </div>
</div>