<ol class="list-group admin-list">
{{#models}}
    <li
            id="{{getId}}"
            class="list-group-item-success list-group-item"
            data-id="{{getId}}"
    >
        {{getNameField}}
        <div class="float-right">
            {{#hasSlug}}
                <a href="{{getSlug}}" target="_blank" title="Preview" class="fa fa-eye"></a>
            {{/hasSlug}}
            {{#canDelete}}
                Delete
            {{/canDelete}}
        </div>
    </li>
{{/models}}
</ol>